* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mainContainer {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer section {
  width: 80%;
}

.mainContainer section > * {
  margin-bottom: 10px;
}

.mainContainer section > h1 {
  text-align: center;
}

.mainContainer section > .datos {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.contenedorBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer section > div button {
  background-color: rgb(151, 255, 220);
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.parrafo{
  text-align: center;
}